*{
    padding: 0px;
    margin: 0px;
}
#container {
    font-family: serif;
}

#pubs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pub{
    width: 370px;
    height: 480px;
    margin: 5px;
    padding: 7px;
    text-align: center;
    box-shadow: 0 5px 13px grey;
    border-radius: 5px;
}

.pub_img{
    width: 250px;
    height: 150px;
    margin: 5px;
    border-radius: 10px;
}
.pub_title{
    text-align: center;
    margin: 5px;
}
.pub_p{
    text-align: justify;
    margin: 5px 10px;
    font-size: 17px;
}

#btns{
    display: flex;
}
#btns #arabic{
    margin: 0 5px;
}
#btns #english{
    margin: 0 5px;
}