*{
    padding: 0px;
    margin: 0px;
}


main{
    text-align: center;
    margin-top: 10px;
}
#codes{
    width: 95%;
    min-height: 280px;
    border-radius: 17px;
    padding: 7px;
    border: 2px solid rgb(131, 131, 131);
}

#buttons{
    display: flex;
    justify-content: space-evenly;
}

#buttons button{
    width: 47%;
    border-radius: 12px;
    border: 0px;
    padding: 12px;
    font-size: 16px;
}

#remove{
    background-color: rgb(255, 30, 30);
    color: white;
}
#remove:hover{
    background-color: rgb(231, 2, 2);
    cursor: pointer;
}

#play{
    background-color: rgb(39, 39, 39);
    color: white;
}
#play:hover{
    background-color: rgb(15, 0, 0);
    cursor: pointer;
}

#title-result{
    padding: 10px;
    border-bottom: 2px solid rgb(131, 131, 131);
    margin: 8px 0;
    font-weight: bold;
}

#result{
    padding: 10px;
    max-width: 100% !important;
}


@media only screen and (max-width:750px){
    header, main{
        height: auto;
    }
    #logoBox{
        width: 100%;
        text-align: center;
    }
    #h1Header, #logo{
        float: none;
    }
    #articles{
        width: 100%;
        background: #fafafa;
    }
    aside{
        width: 100%;
    }
    span a{
        text-decoration: none;
    }
    nav{
        width: 100%;
    }
    aside{
        width: 100%;
    }
    #articles{
        height: 230px;
    }
}
@media only screen and (max-width:500px){
    nav li{
        display: block;
        width: 100%;
    }
}
